extends layout

block content
  h1= title
  p Welcome to #{title}

  ol.task-list
    each val in todos
      li(class=['task-item', val.completed > 0 ? 'is-complete' : null])
        span= val.task + ' - '
        if val.completed > 0
          span Completed
        else
          span Not Completed

        form.inline(method='POST', action='/' + val.id + '/toggle')
          button.btn(type='submit') Toggle

        form.inline(method='POST', action='/' + val.id + '/update')
          input.task-input(type='text', name='task', value=val.task, required)
          button.btn.btn-primary(type='submit') Edit

        form.inline(method='POST', action='/delete')
          input(type='hidden', name='id', value=val.id)
          button.btn.btn-danger(type='submit') Delete

  hr
  h2 Add a new task
  form.add-form(method='POST', action='/create')
    label(for='task') Task:
    input#task(type='text', name='task', required, minlength='1')
    button.btn(type='submit') Create Task
